@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");

body {
  background: #1d1d1d;
  color: #f5f5f5;
  margin: 1rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin-bottom: 1rem;
}

.app {
  margin: 2rem auto 0;
  max-width: 400px;
}

.gray {
  color: #939393;
}

h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 0.875rem;
  font-weight: 800;
  margin-bottom: 0.125rem;
}

p,
a {
  margin: 0;
}
a {
  color: #939393;
  text-decoration: none;
}
a:hover {
  color: #f0152f;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  margin: 0 0 0.5rem 0;
  list-style: none;
}
